* {
    box-sizing: border-box;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    margin: 0 auto;
    padding: 16px;
    position: sticky;
    top: 0;
    background-color: #fff;
    width: 100%;
}

.form label input {
    max-width: 200px;
    font: 400 16px / 1.5 'Montserrat', sans-serif;
    letter-spacing: 0.04em;
    border: 1px solid #808080;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    width: 272px;
    height: 40px;
    outline: none;
    padding: 8px 16px;
}

.form label input::placeholder {
    color: #808080;
}

.form label input:hover {
    border: 1px solid #000;
}

.form label input:focus {
    border: 1px solid #4e75ff;
}

.form button {
    font: 500 16px / 1.5 'Montserrat', sans-serif;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 8px 16px;
    width: 96px;
    height: 40px;
    background: #4e75ff;
}

.form button:hover {
    background: #6c8cff;
}
.load-more-button {
    display: none;
    width: 125px;
    margin: 64px auto 64px auto;
}

.gallery {
    max-width: 320px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    width: auto;
    margin: 0;
}

.gallery-item {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding-left: 0;
    list-style: none;
    width: 100%;
    height: auto;
    border: 1px solid #808080;
}

.gallery-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
}

.gallery-image:hover {
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border: 2px solid #00701e;
}

.image-box {
    height: 152px;
}

.image-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    height: 48px;
    padding: 0;
    margin: 0;
    border-top: 1px solid #e0e0e0;
    background: #fafafa;
}

.image-stat-item {
    display: flex;
    flex-direction: column;
    gap: 0;
    text-align: center;
}

.image-stat-item h4 {
    font: 600 12px / 1.33333 'Montserrat', sans-serif;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.image-stat-item p {
    font: 400 12px / 2 'Montserrat', sans-serif;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

@media only screen and (min-width: 768px) {
    .gallery {
        max-width: 768px;
    }

    .gallery-item {
        min-width: 372px;
        width: calc((100% - 24px) / 2);
    }
}

@media only screen and (min-width: 1200px) {
    .gallery {
        max-width: 1200px;
    }

    .gallery-item {
        min-width: 382px;
        width: calc((100% - 48px) / 3);
    }
}